<template>
  <div
    class="bg-gradient-to-b from-white to-blue-50 h-screen w-screen overflow-hidden relative flex flex-col justify-between"
  >
    <Navbar />
    <div class="grid place-items-center">
      <div class="w-full max-w-[1200px] px-5">
        <div class="mt-[50px] md:max-w-[500px] relative z-10">
          <h1
            class="text-[#02a8f3] text-[40px] font-bold mb-[50px] text-center"
          >
            {{ $t("login") }}
          </h1>
          <FormField
            :label="$t('orgName')"
            v-model:data="formValue.orgName"
            :placeholder="$t('orgNamePlaceholder')"
            @keydown="wrongUser = false"
          />
          <div class="h-4" />
          <FormField
            required
            :placeholder="$t('emailOrUsernamePlaceholder')"
            :label="$t('emailOrUsername')"
            v-model:data="formValue.emailUsername"
            @keyup="errorForm.emailUsername = false"
            class="mt-2"
            @keydown="wrongUser = false"
          />
          <div class="h-4">
            <p v-if="errorForm.emailUsername" class="text-xs text-red-500">
              {{ $t("required") }}
            </p>
          </div>
          <FormField
            required
            :placeholder="$t('passwordPlaceholder')"
            label="Password"
            class="mt-2"
            type="password"
            @keyup="errorForm.password = false"
            v-model:data="formValue.password"
            @keydown="wrongUser = false"
          />
          <div class="h-4">
            <p v-if="errorForm.password" class="text-xs text-red-500">
              {{ $t("required") }}
            </p>
          </div>
          <div class="h-4 mt-[20px]">
            <p v-if="wrongUser" class="text-xs text-red-500">
              {{ $t("wrongUser") }}
            </p>
          </div>
          <Button @click="handleLogin" class="mt-5"> {{ $t("login") }}</Button>
          <div class="mt-2 text-gray-600 text-sm">
            {{ $t("notRegister") }}
            <a
              href="http://ww12.mywa.link/"
              target="_blank"
              class="cursor-pointer text-[#02a8f3] font-semibold"
            >
              {{ $t("contactUs") }}</a
            >
            {{ $t("moreInfo") }}
          </div>
        </div>
      </div>
    </div>
    <Footer />
    <div
      class="absolute hidden md:block w-[100vh] h-screen bg-[#02a8f3] rounded-[5vh] rotate-45 right-[-50vh] top-0"
    />
    <div
      class="absolute hidden md:block w-[100vh] opacity-50 h-screen bg-[#02a8f3] rounded-[5vh] rotate-45 top-[20vh] right-[-51vh]"
    />
    <img
      :src="illustration"
      alt="illustration"
      class="absolute right-[150px] w-[500px] top-[100px] xl:block hidden"
    />
  </div>
  <Loader v-if="isLoading" />
</template>
<script>
import { defineComponent, ref } from "vue";

import FormField from "@/components/FormField.vue";
import Button from "@/components/Button.vue";
import Navbar from "@/components/Navbar.vue";
import Footer from "@/components/Footer.vue";
import Loader from "@/components/Loader.vue";
import illustration from "@/assets/illustration.png";
import router from "@/router";
export default defineComponent({
  name: "HomePage",
  components: { FormField, Button, Navbar, Footer, Loader },
  props: {},
  emits: [],
  setup(_, ss) {
    const wrongUser = ref(false);
    const isLoading = ref(false);
    const formValue = ref({
      orgName: "",
      emailUsername: "",
      password: "",
    });
    const errorForm = ref({
      emailUsername: false,
      password: false,
    });
    const handleLogin = () => {
      const { emailUsername, password } = formValue.value;
      if (!emailUsername || !password) {
        errorForm.value = {
          emailUsername: !emailUsername,
          password: !password,
        };
        return;
      }
      isLoading.value = true;

      setTimeout(() => {
        if (emailUsername === "admin" && password === "mileapp") {
          router.push("/track");
        } else {
          wrongUser.value = true;
        }
        isLoading.value = false;
      }, 1000);
    };
    return {
      illustration,
      formValue,
      handleLogin,
      errorForm,
      isLoading,
      wrongUser,
    };
  },
});
</script>
