<template>
  <div
    class="bg-gradient-to-b from-white to-blue-50 min-h-screen w-screen relative flex flex-col justify-between"
  >
    <Navbar />
    <div class="grid place-items-center">
      <div class="max-w-[1200px] px-5 w-full">
        <div class="flex justify-between items-center">
          <h1 class="text-2xl font-bold mb-4 text-gray-600">Map</h1>
          <div class="flex items-center">
            <div class="text-gray-600 text-sm mr-3">
              {{ $t("toggleOffline") }}
            </div>
            <Toggle
              :active="showOffline"
              @change="
                () => {
                  showOffline = !showOffline;
                  showWindows = [];
                }
              "
            />
          </div>
        </div>
        <div class="flex-1 max-w-[400px] mb-3">
          <FormField :placeholder="$t('search')" />
        </div>
        <GoogleMap
          class="rounded overflow-hidden"
          style="width: 100%; height: 500px"
          :center="center"
          :zoom="15"
        >
          <MarkerCluster>
            <CustomMarker
              v-for="driver in driverRender"
              :key="driver.id"
              :options="{
                position: driver.position,
                anchorPoint: 'BOTTOM_CENTER',
                offsetY: 20,
              }"
              @click="handleClickMarker(driver)"
            >
              <div class="relative">
                <img :src="motorIcon" width="50" height="50" />
                <img
                  v-if="!driver.status"
                  :src="offlineIcon"
                  width="20"
                  height="20"
                  class="absolute z-10 left-4 bottom-3"
                />
              </div>
            </CustomMarker>
          </MarkerCluster>
          <InfoWindow
            v-for="item in showWindows"
            :key="item.id"
            :options="{ position: item.position }"
            @closeclick="handleRemoveWindow(item)"
          >
            <div class="w-[200px]">
              <div>
                <span class="font-bold">{{ item.content.name }}</span> -
                {{ item.content.plat }}
              </div>
              <div class="mt-2">Progress: {{ item.content.progress }}</div>
              <div class="mt-2">Seen on {{ item.content.lastSeen }}</div>
            </div>
          </InfoWindow>
        </GoogleMap>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import { defineComponent, ref, computed } from "vue";
import {
  GoogleMap,
  CustomMarker,
  MarkerCluster,
  InfoWindow,
  Marker,
} from "vue3-google-map";
import motorIcon from "@/assets/motor-scooter.svg";
import offlineIcon from "@/assets/no-signal.png";
import Navbar from "@/components/Navbar.vue";
import Toggle from "@/components/Toggle.vue";
import FormField from "@/components/FormField.vue";
import { listDriver } from "@/constants";
import Footer from "@/components/Footer.vue";
export default defineComponent({
  name: "TrackPage",
  components: {
    GoogleMap,
    CustomMarker,
    MarkerCluster,
    InfoWindow,
    Marker,
    Navbar,
    Toggle,
    FormField,
    offlineIcon,
    Footer,
  },
  props: {},
  emits: [],
  setup() {
    const showWindows = ref([]);
    const showOffline = ref(false);

    const center = { lat: -6.597629, lng: 106.799568 };

    const handleClickMarker = (item) => {
      showWindows.value.push(item);
    };
    const handleRemoveWindow = (item) => {
      const filtered = showWindows.value.filter((el) => el.id !== item.id);
      showWindows.value = filtered;
    };
    const driverRender = computed(() => {
      if (showOffline.value) {
        return listDriver;
      }
      return listDriver.filter((el) => el.status);
    });
    return {
      center,
      motorIcon,
      listDriver,
      handleClickMarker,
      showWindows,
      handleRemoveWindow,
      showOffline,
      driverRender,
      offlineIcon,
    };
  },
});
</script>
