<template>
  <button
    class="bg-[#02a8f3] text-white text-lg font-semibold h-11 rounded-md w-full"
  >
    <slot />
  </button>
</template>

<script>
import { defineComponent } from "vue";
export default defineComponent({
  name: "Button",
  components: {},
  props: {
    label: {
      type: String,
      required: false,
      default: () => "",
    },
  },
  emits: [],
  setup() {
    return {};
  },
});
</script>
