<template>
  <div class="grid place-items-center">
    <div class="mt-auto py-4 text-sm text-gray-500 w-full max-w-[1200px] px-5">
      © Copyright 2021 PT. Paket Informasi Digital. All Rights Reserved
    </div>
  </div>
</template>
<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "Footer",
  components: {},
  props: {},
  emits: [],
  setup() {
    return {};
  },
});
</script>
