<template>
  <div>
    <div v-if="label" class="text-sm text-gray-600 mb-1.5">
      {{ label }} <span v-if="required" class="text-red-500">*</span>
    </div>
    <div class="border border-gray-200 rounded-md px-3 py-2 bg-white">
      <input
        v-bind="$attrs"
        :placeholder="placeholder"
        v-model="data"
        class="w-full hover:outline-none text-gray-600 text-sm outline-none bg-transparent"
        @change="$emit('update:data', data)"
      />
    </div>
  </div>
</template>

<script>
import { defineComponent, toRefs } from "vue";
export default defineComponent({
  name: "FormField",
  components: {},
  props: {
    label: {
      type: String,
      required: false,
      default: () => "",
    },
    placeholder: {
      type: String,
      required: false,
      default: () => "",
    },
    required: {
      type: Boolean,
      required: false,
      default: () => false,
    },
  },

  emits: ["update:data"],
  setup(props) {
    const { data } = toRefs(props);
    return { data };
  },
});
</script>
