<template>
  <div
    class="h-screen w-screen fixed top-0 left-0 grid place-items-center bg-[#00000080] z-30"
  >
    <div
      class="animate-spin h-10 w-10 border-white border-t-[#02a8f3] border-4 rounded-full"
    />
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  name: "Loader",
  components: {},
  props: {},
  emits: [],
  setup() {
    return {};
  },
});
</script>
