<template>
  <div class="grid place-items-center">
    <div
      class="relative z-30 py-3 flex justify-between items-center w-full max-w-[1200px] px-5"
    >
      <img alt="mileapp" :src="logo" class="h-[35px]" />
      <div class="relative">
        <div
          class="rounded-md bg-white p-2 flex items-center cursor-pointer relative w-[90px]"
          @click="show = !show"
        >
          <img
            :alt="activeFlag.label"
            :src="activeFlag.img"
            class="w-5 shadow-md"
          />
          <div class="text-xs ml-2">{{ activeFlag.label }}</div>
          <img alt="arrow" :src="chevron" class="w-4 ml-3" />
        </div>
        <div
          @click="show = false"
          v-if="show"
          class="h-screen w-screen bg-red-100 fixed left-0 top-0 z-20 opacity-0"
        />
        <div
          v-if="show"
          class="bg-white absolute top-10 w-full left-0 rounded-md overflow-hidden z-20"
        >
          <div
            v-for="flag in flagList"
            :key="flag.value"
            class="flex items-center p-2 hover:bg-blue-100 cursor-pointer"
            @click="
              () => {
                $i18n.locale = flag.value;
                activeFlag = flag;
                show = false;
              }
            "
            :class="{
              'bg-blue-100': flag.value === activeFlag.value,
            }"
          >
            <img :alt="flag.label" :src="flag.img" class="w-5 shadow-md" />
            <div class="text-xs ml-2">{{ flag.label }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { defineComponent, ref } from "vue";
import logo from "@/assets/logo.png";
import id from "@/assets/id.png";
import en from "@/assets/en.png";
import chevron from "@/assets/down-arrow.png";
export default defineComponent({
  name: "Navbar",
  components: {},
  props: {},
  emits: [],
  setup() {
    const show = ref(false);
    const activeFlag = ref({
      img: id,
      label: "ID",
      value: "id",
    });
    const flagList = ref([
      {
        img: id,
        label: "ID",
        value: "id",
      },
      {
        img: en,
        label: "EN",
        value: "en",
      },
    ]);
    return { logo, activeFlag, chevron, flagList, show };
  },
});
</script>
