<template>
  <div
    :class="{
      'bg-[#02a8f3]': active,
      'bg-gray-500': !active,
    }"
    class="h-6 w-12 rounded-[20px] p-1 ease-in-out duration-300"
  >
    <div
      @click="$emit('change')"
      class="h-4 w-4 cursor-pointer bg-white rounded-full ease-in-out duration-300"
      :class="{
        'ml-6': active,
      }"
    />
  </div>
</template>

<script>
import { defineComponent } from "vue";
export default defineComponent({
  name: "Toggle",
  components: {},
  props: {
    active: {
      type: Boolean,
      required: false,
      default: () => false,
    },
  },
  emits: [],
  setup() {
    return {};
  },
});
</script>
